<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../public/style.css"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
  <div class="main">
    
  
  <div class="header">
    <h1>
      URL Shortener Microservice
    </h1>
  </div>
  <div class="content">
    <h2>
      Example Usage
    </h2>
    <p class="url">
      
        https://shorts.glitch.me/new/https://upload.wikimedia.org/wikipedia/commons/thumb/b/b4/Saguaro_Sunset.jpg/1280px-Saguaro_Sunset.jpg
    </p>
    
    <h2>
      Example Output
    </h2>
    <code>
      {"oldUrl":"https://upload.wikimedia.org/wikipedia/commons/thumb/b/b4/Saguaro_Sunset.jpg/1280px-Saguaro_Sunset.jpg","newUrl":"https://shorts.glitch.me/xnDqqP1MB"}
    </code>
    <p>
      <em><strong>https://shorts.glitch.me/xnDqqP1MB</strong></em> will redirect to <em><strong>https://upload.wikimedia.org/wikipedia/commons/thumb/b/b4/Saguaro_Sunset.jpg/1280px-Saguaro_Sunset.jpg</strong></em>
    </p>
  </div>
  </div>
</body>
</html>