.main {
  font-family: 'Roboto', sans-serif;
  display:grid;
  grid-template-columns:minmax(100px,1fr);
  grid-template-rows:1fr 5fr;
  margin:20px;
}


.url {
    font-size:1.1em;
  padding:5px;
  border:1px solid gray;
  border-radius:3px;
}

p, code{
 overflow-wrap: break-word;
  word-wrap: break-word;
}

code {
font-size:1.1em;
}

