.main {
  font-family: 'Roboto', sans-serif;
  display:grid;
  grid-template-columns:minmax(200px, max-content);
  grid-template-rows:1fr 5fr;
  margin:15px;
}


.url {
    font-size:1.1em;
  padding:7px;
  border:1px solid gray;
  border-radius:3px;
}

p, code{
 overflow-wrap: break-word;
  word-wrap: break-word;
}

code {
font-size:1.1em;
}

hr {
 border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}