.main {
  width:100%;
  font-family: 'Roboto', sans-serif;
  display:grid;
  grid-template-columns:1fr;
  grid-template-rows:1fr 5fr;
  padding:20px;
}

.content {
  width:500px;
  }

.url {
  font-size:1.1em;
  padding:5px;
 overflow-wrap: break-word;
  word-wrap: break-word; 
}
